<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head"><title>Proyecto</title></head>
    <body class="Empleados">
        <header th:replace="layout/plantilla :: header"></header>
        <div class="cuadroInfoEMod"></div>
        <div class="infoEmpMod">
            <p style="color:white; font-size: 20px; text-align: center;">
                Puestos: 1. Maitre - 2. Chef 3. - Bartender 4. - Cocinerx - 5. Meserx - 6. Recepcionista - 7. Limpieza</p>
        </div>
        <div th:replace="layout/plantilla :: empleadosForm"></div>
        <footer th:replace="layout/plantilla :: Emps_informacion"></footer>
    </body>
</html>
