<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head"><title>Proyecto</title></head>
    <body class="Menu">
        <header th:replace="layout/plantilla :: header"></header>
        <div class="tablaMenu">
            <div th:if="${menus != null and !menus.empty}">
                <table class="table table-sm table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Tipo</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Modificar</th>
                            <th scope="col">Elimiar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${menus}">
                            <th th:text="${item.tipo}"></th>
                            <td th:text="${item.platillo.nombre}"></td>
                            <td th:text="${item.platillo.descripcion}"></td>
                            <td th:text="${item.platillo.precio}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/menu/modificar/} + ${item.idMenu}" style="color:#a00000;">Modificar</a></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/menu/eliminar/} + ${item.idMenu}" style="color:#a00000;">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: menuMas_informacion"></footer>
    </body>
</html>
