<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Proyecto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <p>LOGO</p>
            <nav>
                <a th:href="@{/menu}">Menu</a>
                <a th:href="@{/Reservar}">Reservar</a>
                <a th:href="@{/ordenar}">Ordenar Enlinea</a>
                <a th:href="@{/Inrformacion}">Informacion</a>
            </nav>
        </header>
    </body>
</html>
