<!DOCTYPE html>
<html>
    <head>
        <title>Proyecto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <nav>
                <a href="Index.html">Volver</a>
            </nav>
        </header>
        <p>LOGO</p>
        <div>
            <p>Nombre Restaurante</p>
            <p>Horario</p>
            <p>Direccion</p>
            <p>Cuenta o no con parqueo</p>
            <p>Rango de precios</p>
            <p>Telefono</p>
        </div>
    </body>
</html>
