<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Proyecto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:action="@{/guardarOrden}"
              method="post"
              th:object="${orden}">
            <input type="text" name="nombre" placeholder="Nombre"><br>
            <input type="text" name="apellidos" placeholder="Apellidos"><br>
            <input type="text" name="cedula" placeholder="Cedula"><br>
            <input type="tel" name="telefono" placeholder="Telefono"><br>
            <label>Expres</label><input type="radio" name="tipo"><br>
            <label>Recoger en Restaurante</label><input type="radio" name="tipo"><br>
            <input type="text" name="platillos" placeholder="Platillos"><br>
            <input type="text" name="notas" placeholder="Notas"><br>
            <input type="text" name="ubicacion" placeholder="En caso de seleccionar expres especifique la direccion de entrega"><br>
            <input type="submit" name="guardar" value="Guardar Orden"/>
        </form>
        <p>PRECIO</p>
    </body>
</html>
