<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Proyecto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link th:href="@{/css/StyleSheet.css}" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e426fc237f.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <p>Menu</p>
        <div th:if="${menuDB != null and !menuDB.empty}">
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Platillo</th>
                <th>Descripcion</th>
                <th>Precio</th>
            </tr>
            <tr th:each="item : ${menuDB}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.platillo}"></td>
                <td th:text="${item.descripcion}"></td>
                <td th:text="${item.precio}"></td>
            </tr>
        </table>
            <br>
        </div>
        <footer th:replace="layout/plantilla :: informacion"></footer>
        <div class="sombra"></div>
    </body>
</html>
