<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head"><title>Proyecto</title></head>
    <body class="Facturar">
        <header th:replace="layout/plantilla :: header"></header>
        <div th:replace="layout/plantilla :: buscarFactura"></div>
        <div class="fver">
            <div th:if="${FactEsp != null and !FactEsp.empty}">
                <table class="table table-sm table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Cedula</th>
                            <th scope="col">Platillos</th>
                            <th scope="col">Precios</th>
                            <th scope="col">Total</th>
                            <th scope="col">Modificar</th>
                            <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${FactEsp}">
                            <td th:text="${item.nombre}"></td>
                            <td th:text="${item.apellidos}"></td>
                            <td th:text="${item.cedula}"></td>
                            <td th:text="${item.factura.platillos}"></td>
                            <td th:text="${item.factura.precios}"></td>
                            <td th:text="${item.factura.total}"></td>
                            <td><a th:href="@{/facturacion/modificar/} + ${item.idCliente}" style="color:#a00000;">Modificar</a></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/facturacion/eliminar/} + ${item.idCliente}" style="color:#a00000;">Eliminar</a></td>
                    </tbody>
                </table>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: orden_informacion"></footer>
    </body>
</html>
