<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head"><title>Proyecto</title></head>
    <body class="Reservar">
        <header th:replace="layout/plantilla :: header"></header>
        <div class="ver affix">
            <div th:if="${misReservaciones != null and !misReservaciones.empty}">
                <table border="1">
                    <tr>
                        <th>Dia</th>
                        <th>Hora</th>
                        <th>Cantidad de Personas</th>
                        <th>Platillos</th>
                        <th>Notas</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                    <tr th:each="item : ${misRreservaciones}">
                        <td th:text="${item.dia}"></td>
                        <td th:text="${item.hora}"></td>
                        <td th:text="${item.cantpersonas}"></td>
                        <td th:text="${item.platillos}"></td>
                        <td th:text="${item.notas}"></td>
                        <td><a th:href="@{/reservacion/modificar/} + ${item.idReservacion}" style="color:#a00000;">Modificar</a></td>
                        <td><a th:href="@{/reservacion/elimiar/} + ${item.idReservacion}" style="color:#a00000;">Eliminar</a></td>
                </table>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: informacion"></footer>
    </body>
</html>
