<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head"><title>Proyecto</title></head>
    <body class="Ordenar">
        <header th:replace="layout/plantilla :: header"></header>
        <div class="cuadroInfoOMod"></div>
        <div class="infoOrdMod">
            <p style="color:white; font-size: 20px; text-align: center;">
                Debido a que se trata de una orden los datos que se pueden editar son limitados.</p>
            <p style="color:white; font-size: 20px; text-align: center;">
                Solo puede agregar mas comida, cambiar las notas o cambiar de expres a recoger en restaurante y viceversa.</p>
        </div>
        <div th:replace="layout/plantilla :: ordenFormMod"></div>
        <footer th:replace="layout/plantilla :: orden_informacion"></footer>
    </body>
</html>
