<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/extras/spring-security">
    <head>
        <title>Proyecto</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link th:href="@{/css/StyleSheet.css}" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e426fc237f.js" crossorigin="anonymous"></script>
    </head>
    <body class="Ordenar">
        <header th:replace="layout/plantilla :: header"></header>
        <div class="formulario affix">
            <form th:action="@{/orden/guardar}"
                  method="post"
                  th:object="${orden}">
                <input type="hidden" name="idOrden" th:field="*{idOrden}"/>
                <input type="text" name="nombre" placeholder="Nombre" th:field="*{nombre}"><br>
                <input type="text" name="apellidos" placeholder="Apellidos" th:field="*{apellidos}"><br>
                <input type="text" name="cedula" placeholder="Cedula" th:field="*{cedula}"><br>
                <input type="tel" name="telefono" placeholder="Telefono" th:field="*{telefono}"><br>
                <label>Expres</label><input type="radio" name="tipo"><br>
                <label>Recoger en Restaurante</label><input type="radio" name="tipo"><br>
                <input type="text" name="platillos" placeholder="Platillos" th:field="*{platillos}"><br>
                <input type="text" name="notas" placeholder="Notas" th:field="*{notas}"><br>
                <input type="text" name="precio" th:field="*{precio}"><br>
                <input type="text" name="ubicacion" placeholder="En caso de seleccionar expres especifique la direccion de entrega" th:field="*{ubicacion}"><br>
                <input type="submit" name="guardar" value="Guardar Orden"/>
            </form>
            <p>PRECIO</p>
        </div>
        <footer th:replace="layout/plantilla :: orden_informacion"></footer>
    </body>
</html>
