<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/extras/spring-security">
    <head>
        <title>Proyecto</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link th:href="@{/css/StyleSheet.css}" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/e426fc237f.js" crossorigin="anonymous"></script>
    </head>
    <body class="Ordenar">
        <header th:replace="layout/plantilla :: header"></header>
        <div class="ver affix">
            <div th:if="${misOrdenes != null and !misOrdenes.empty}">
                <table border="1">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Cedula</th>
                        <th>Telefono</th>
                        <th>Tipo</th>
                        <th>Platillos</th>
                        <th>Notas</th>
                        <th>Precio</th>
                        <th>Ubicacion</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                    <tr th:each="item : ${misOrdenes}">
                        <td th:text="${item.nombre}"></td>
                        <td th:text="${item.apellidos}"></td>
                        <td th:text="${item.cedula}"></td>
                        <td th:text="${item.telefono}"></td>
                        <td><input type="checkbox" name="activo" th:checked="${item.tipo}" disabled="true"></td>
                        <td th:text="${item.platillos}"></td>
                        <td th:text="${item.notas}"></td>
                        <td th:text="${item.precio}"></td>
                        <td th:text="${item.ubicacion}"></td>
                        <td><a th:href="@{/ModificarOrden/} + ${item.idorden}">Modificar</a></td>
                        <td><a th:href="@{/EliminarOrden/} + ${item.idorden}">Eliminar</a></td>
                </table>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: orden_informacion"></footer>
    </body>
</html>
